<!DOCTYPE html>
<html lang="en">
<head>
	<title>Data analyser</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="card text-center border-white">

		<div class="card-header" style="padding-top: 5px; padding-bottom: 0px;">
			<div class="form-group" style="margin-bottom: 0;">
			    <div class="row">
			    	<div class="col-11" >
						<ul class="nav nav-tabs card-header-tabs">
                            <a class="navbar-brand" style="color: #212529; margin-top: 2px; margin-left: 8px; padding-top: 5px">
			                    {% load static %}
							    <img src="{% static "img/logo1.png" %}" width="176" height="29.5" class="d-inline-block align-top" alt="">
							</a>
						  	<li class="nav-item" style="padding-top: 5px">
						    	<a class="nav-link active" href="index.html">Prediction</a>
						  	</li>
						  	<li class="nav-item" style="padding-top: 5px">
						   		<a class="nav-link" href="research.html" style="color: rgba(0,0,0,.5);">Research</a>
						  	</li>
						</ul>
					</div>

					<div class="col-1" style="padding-bottom: 5px">

			            <ul class="nav nav-pills card-header-pills justify-content-end">
			              <li class="nav-item">
			                <a class="nav-link active" href="auth" style="background-color: rgba(0,0,0,.5);">Logout</a>
			              </li>
			            </ul>
			        </div>


				</div>
            </div>
		</div>

		<div class="card-body" align="center">
        <form action="{% url 'predictor:index' %}" method="post"  enctype="multipart/form-data">
            {% csrf_token %}
		    <div class="container-fluid" style="padding: 0 5% 0 5%;">
				<h1 class="display-4">Data analyser</h1>
                <p>Select file with data:</p>
                <div class="custom-file" style="width: 50%">
                    <input type="file" class="custom-file-input" id="menu" name="file">
                    <label class="custom-file-label" for="menu">Choose file</label>
                </div>
            </div>

            <script>
                $('.custom-file-input').on('change', function() {
                   let fileName = $(this).val().split('\\').pop();
                   $(this).next('.custom-file-label').addClass("selected").html(fileName);
                });
            </script>


            <button type="submit" class="btn btn-block" name="code" style="background-color: #ffdd2d; margin-top: 20px; width: 50%;">
            Send to analyse!</button>
        </form>

            {% if some_text %}
		    <div class="container-fluid" style="padding: 1% 5% 0 5%">

			    <p align="left" style="margin-bottom: 5px">Output statistic:</p>
			    <textarea rows="15" readonly style="width: 100%">{{ some_text }}</textarea>

                <form action="{% url 'predictor:index' %}" method="get">
				<button type="submit" class="btn btn-block" name="download" style="background-color: #ffdd2d;" style="color: #ffdd2d;">
			    Download results</button>
                </form>
			</div>
            {% endif %}

		  </div>
		</div>
</body>
</html>