<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data analyser</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style type="text/css">
        .alarm-msg{
            color: #dc3545;
        }

        .alarm-field{
            background-color: #f8d7da;
        }

        .mb-3, .my-3 {
            margin-bottom: 0rem!important;
            margin-top: 1rem!important;

        }

    </style>
</head>
<body>
<div class="card text-center border-white">
    <div class="card-header" style="padding-top: 5px; padding-bottom: 15px;">
        <ul class="nav nav-tabs card-header-tabs">
            <a class="navbar-brand"
               style="color: #212529; margin-top: 2px; margin-left: 8px; padding-top: 5px">
                {% load static %}
                <img src="{% static "img/logo1.png" %}" width="176"
                height="29.5" class="d-inline-block align-top" alt="">
            </a>
        </ul>
    </div>

    <div class="card-body" align="center"
         style="margin-left: 10%; margin-right: 10%">
        <p>Create your Tinkoff Bank account. It's free and only takes a
            minute.</p>
        <form action="{% url 'predictor:register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-6">


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">First name</span>
                            </div>
                            <input type="text" name="first_name"
                                   {% if no_first_name or incorrect_first_name%}
                                   class="form-control alarm-field"
                                   {% else %}
                                   class="form-control"
                                   {% endif %}

                                   aria-describedby="basic-addon3">
                        </div>
                        {% if no_first_name or incorrect_first_name%}
                        <small class="form-text alarm-msg">Invalid first name
                        </small>
                        {% endif %}


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Login</span>
                            </div>
                            <input type="text" name="login"
                                   {% if incorrect_login or no_login%}
                                   class="form-control alarm-field"
                                   {% else %}
                                   class="form-control"
                                   {% endif %}
                                   aria-describedby="basic-addon3">
                        </div>

                        {% if incorrect_login or no_login %}
                        <small class="form-text alarm-msg">Invalid login
                        </small>
                        {% endif %}


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                            </div>
                            <input type="text" name="email"

                                   {% if incorrect_email or no_email %}
                                   class="form-control alarm-field"
                                   {% else %}
                                   class="form-control"
                                   {% endif %}

                                   aria-describedby="basic-addon3">
                        </div>
                        {% if incorrect_email or no_email %}
                        <small class="form-text alarm-msg">Invalid email
                        </small>
                        {% endif %}


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Secret question</span>
                            </div>
                            <input type="text" name="question"

                                   {% if no_question or incorrect_question %}
                                   class="form-control alarm-field"
                                   {% else %}
                                   class="form-control"
                                   {% endif %}

                                   aria-describedby="basic-addon3">
                        </div>
                        {% if no_question or incorrect_question %}
                        <small class="form-text alarm-msg">Enter secret
                            question
                        </small>
                        {% endif %}

                    </div>

                    <div class="col-6">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Last name</span>
                            </div>
                            <input type="text" name="last_name"

                                   {% if no_last_name or incorrect_last_name %}
                                   class="form-control alarm-field"
                                   {% else %}
                                   class="form-control"
                                   {% endif %}

                                   aria-describedby="basic-addon3">
                        </div>
                        {% if no_last_name or incorrect_last_name %}
                        <small class="form-text alarm-msg">Invalid last name
                        </small>
                        {% endif %}


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" name="password"
                                   {% if no_password or incorrect_password %}
                                   class="form-control alarm-field"
                                   {% else %}
                                   class="form-control"
                                   {% endif %}
                                   aria-describedby="basic-addon3"
                                   placeholder="Generate a password">
                        </div>
                        {% if no_password or incorrect_password %}
                        <small class="form-text alarm-msg">Enter password
                        </small>
                        {% endif %}


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" name="password_double"
                                   {% if no_password_double or incorrect_password_double %}
                                   class="form-control alarm-field"
                                   {% else %}
                                   class="form-control"
                                   {% endif %}
                                   aria-describedby="basic-addon3"
                                   placeholder="Enter password again">
                        </div>

                        {% if no_password or incorrect_password %}
                        <small class="form-text alarm-msg">Passwords not
                            match
                        </small>
                        {% endif %}


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Answer to the question</span>
                            </div>
                            <input type="text" name="answer"
                                   {% if no_answer or incorrect_answer %}
                                   class="form-control alarm-field"
                                   {% else %}
                                   class="form-control"
                                   {% endif %}
                                   aria-describedby="basic-addon3">
                        </div>
                        {% if no_answer or incorrect_answer %}
                        <small class="form-text alarm-msg">Enter answer</small>
                        {% endif %}

                    </div>
                </div>
            </div>


            <div class="custom-control custom-checkbox"
                 style="padding-top: 7px">
                <input type="checkbox" class="custom-control-input"
                       id="customCheck1" name="is_researcher">
                <label class="custom-control-label" for="customCheck1">Is
                    researcher</label>
            </div>

            <button type="submit" class="btn"
                    style="background-color: #ffdd2d; margin-top: 1%"
                    name="register">Register
            </button>
        </form>

    </div>
</div>
</body>
</html>